.PageEditor-body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(images/bg-edit-page.jpg);
}

.pop-up-bg
{
	display: block;
    background:url(images/pop-up.jpg);
    width: 56px; 
    height: 22px;
    overflow: hidden;    
}

.save
{
	display: block;
    background:url(images/button-save.png);

}

.spacer
{
	display: block;
    background:url(images/10x10.gif);
    background-repeat:no-repeat;
    width: 1px; 
    height: 9px;
}
.icon-widget
{
	display: block;
    background:url(images/icon-widget.png);
    background-repeat:no-repeat;
    width: 16px; 
    height: 16px;
}
.edit-page-top-bg
{
	display: block;
    background:url(images/edit-page-top-bg.jpg);
    background-repeat:no-repeat;
}
.edit-page-top-left
{
	display: block;
    background:url(images/edit-page-top-left.jpg);
    background-repeat:no-repeat;
    width: 10px; 
    height: 25px;
}
.top-line
{
	display: block;
    background:url(images/top-line.jpg);
    background-repeat:no-repeat;
    width: 1px; 
    height: 25px;
}
.icon-close
{
	display: block;
    background:url(images/icon-close.png);
    background-repeat:no-repeat;
    width: 16px; 
    height: 16px;
}
.icon-workflow
{
	display: block;
    background:url(images/icon-workflow.png);
    background-repeat:no-repeat;
    width: 16px; 
    height: 16px;
}
.icon-settings
{
	display: block;
    background:url(images/icon-settings.png);
    background-repeat:no-repeat;
    width: 16px; 
    height: 16px;
}
.icon-preview
{
	display: block;
    background:url(images/icon-preview.png);
    background-repeat:no-repeat;
    width: 16px; 
    height: 16px;
}
.icon-send-review
{
	display: block;
    background:url(images/icon-send-review.png);
    background-repeat:no-repeat;
    width: 16px; 
    height: 16px;
}
.icon-help
{
	display: block;
    background:url(images/icon-help.png);
    width: 16px; 
    height: 16px;
}


.toolbar {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #afafaf;
  font-weight: normal;
  TEXT-DECORATION: none;
}
.toolbar a{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #ffffff;
  font-weight: normal;
  TEXT-DECORATION: none;
}
.toolbar a:visited{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #ffffff;
  font-weight: normal;
  TEXT-DECORATION: none;
}
.toolbar a:hover{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #f0eaa3;
  font-weight: normal;
  TEXT-DECORATION: none;
}