

.container {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(images/bg-default.jpg);
	background-repeat:repeat-x;
	
}

img {
     border:0px;
}

td {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #656565;
  font-weight: normal;
  text-align:left;
  TEXT-DECORATION: none;
}
td a{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: underline;
}
td a:hover{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #49627d;
  font-weight: bold;
  TEXT-DECORATION: underline;
}
td a:visited{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: underline;
}

.text {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #656565;
  font-weight: normal;
  text-align:left;
  TEXT-DECORATION: none;
}
.text a{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: underline;
}
.text a:hover{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #49627d;
  font-weight: bold;
  TEXT-DECORATION: underline;
}
.text a:visited{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: underline;
}
.subnav {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #a8a8a8;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.subnav a{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.subnav a:visited{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.subnav a:hover{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #49627d;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.largelink {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.largelink a{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.largelink a:visited{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.largelink a:hover{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #49627d;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.editpagelines{
	border-color:#555555;
	border-style:solid;
	border-width:1px;
}

.paneheader {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #737373;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.controlheader {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #f1f1f1;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.controltext {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #f1f1f1;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.controlfunctions {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #d5d5d5;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.controlfunctions a{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #d5d5d5;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.controlfunctions a:visited{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #d5d5d5;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.controlfunctions a:hover{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #ffffff;
  font-weight: bold;
  TEXT-DECORATION: underline;
}
.treeheader {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: none;
  line-height: 40px;
}
.treelinks {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #656565;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.treelinks a{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.treelinks a:visited{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #404040;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.treelinks a:hover{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #49627d;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.header {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #656565;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.label {
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #4d4d4d;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.label a{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #4d4d4d;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.label a:visited{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #4d4d4d;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.label a:hover{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #a3b3c3;
  font-weight: bold;
  TEXT-DECORATION: none;
}
.message 
{
	color:#932521;
	font-weight: bold;
}
.textbox 
{
	border: solid 1px #e3e3e3;
	color: #4d4d4d;
	height: 23px;
}
.status
{
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	color:#F3C281;
	font-weight:bold;
}